p {
    font-family: 'Montserrat','Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

h1 {
    /*text-align: center;
    text-decoration: underline;*/
    font-family: 'Geostar', cursive;
    margin: 45px auto 200px auto;
    width: 20%;
    border: 2px solid;
}