
body {
    background-color: #2c2b2b;
}

h1 {
    color: white;
}

h3 {
    color: rgb(255, 255, 0);
}

li {
    color: white;
}

h2 {
    background-color: yellow;
    border: 2px solid;
}

#astronomy-class {
    color: red
}

