h1{
    color: purple;
    font-size: 50pt;
    background-color: white;
}

h4{
    color: red;
}

li{
    color: green;
}

body {
    background-image: url('https://www.spacex.com/sites/spacex/files/amos17_v2.jpg');
    background-repeat: no-reapet;
    background-size: cover;
}